* {
  box-sizing: border-box;
}

html {
  color: #555;
  background: #fafbfc;
}

#img-editor {
  width: 720px;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-file {
  display: none;
}

.inputs__btn {
  background: #f1f2f3;
  border: 1px solid #eaebec;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  margin: 0 8%;
}

.inputs__btn:hover {
  background: #efefef;
}

.inputs__btn:active {
  background: #e9e9e9;
}

.panels {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

#controls-panel {
  flex: 1;
  order: 2;
}

#img-panel {
  flex: 2;
  order: 1;
  position: relative;
}

#img-panel__drop-area {
  color: #888;
  border: 3px dashed #888;
  width: 100%;
  height: 320px;
  text-align: center;
  line-height: 320px;
  font-size: 2rem;
}

.img-panel--center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#img-panel__cover_area {
  opacity: 0.33;
  background: #000;
}

.no-display {
  display: none;
}
